WebApplication1/App_WebReferences/ticketmaster/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ticketmaster.productserve.com/v1/soap.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Service" targetNamespace="http://ticketmaster.productserve.com/v1/soap.php" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ticketmaster.productserve.com/v1/soap.php">
      <xsd:complexType name="Request_Sort">
        <xsd:all>
          <xsd:element name="field" type="xsd:string" />
          <xsd:element name="order" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfRequest_Filter">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:Request_Filter[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Request_Filter">
        <xsd:all>
          <xsd:element name="object" type="xsd:string" />
          <xsd:element name="field" type="xsd:string" />
          <xsd:element name="values" type="soap-enc:Array" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Request">
        <xsd:all>
          <xsd:element name="apiKey" type="xsd:string" />
          <xsd:element name="country" type="xsd:string" />
          <xsd:element name="resultsPerPage" nillable="true" type="xsd:int" />
          <xsd:element name="currentPage" nillable="true" type="xsd:int" />
          <xsd:element name="clickRef" nillable="true" type="xsd:string" />
          <xsd:element name="sort" nillable="true" type="tns:Request_Sort" />
          <xsd:element name="filters" nillable="true" type="tns:ArrayOfRequest_Filter" />
          <xsd:element name="updatedSince" nillable="true" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Details">
        <xsd:all>
          <xsd:element name="totalResults" nillable="true" type="xsd:int" />
          <xsd:element name="totalPages" nillable="true" type="xsd:int" />
          <xsd:element name="currentPage" nillable="true" type="xsd:int" />
          <xsd:element name="resultsPerPage" nillable="true" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfEvent">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:Event[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfArtist">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:Artist[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Artist">
        <xsd:all>
          <xsd:element name="artistId" nillable="true" type="xsd:int" />
          <xsd:element name="ticketmasterArtistId" nillable="true" type="xsd:int" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="url" nillable="true" type="xsd:string" />
          <xsd:element name="imageUrl" nillable="true" type="xsd:string" />
          <xsd:element name="category" nillable="true" type="xsd:string" />
          <xsd:element name="categoryId" nillable="true" type="xsd:int" />
          <xsd:element name="parentCategory" nillable="true" type="xsd:string" />
          <xsd:element name="parentCategoryId" nillable="true" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Venue">
        <xsd:all>
          <xsd:element name="venueId" nillable="true" type="xsd:int" />
          <xsd:element name="ticketmasterVenueId" nillable="true" type="xsd:int" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="street" nillable="true" type="xsd:string" />
          <xsd:element name="city" nillable="true" type="xsd:string" />
          <xsd:element name="country" nillable="true" type="xsd:string" />
          <xsd:element name="postcode" nillable="true" type="xsd:string" />
          <xsd:element name="url" nillable="true" type="xsd:string" />
          <xsd:element name="imageUrl" nillable="true" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Event">
        <xsd:all>
          <xsd:element name="eventId" nillable="true" type="xsd:int" />
          <xsd:element name="ticketmasterEventId" nillable="true" type="xsd:string" />
          <xsd:element name="status" nillable="true" type="xsd:string" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="url" nillable="true" type="xsd:string" />
          <xsd:element name="eventDate" nillable="true" type="xsd:string" />
          <xsd:element name="onSaleDate" nillable="true" type="xsd:string" />
          <xsd:element name="preSaleDate" nillable="true" type="xsd:string" />
          <xsd:element name="category" nillable="true" type="xsd:string" />
          <xsd:element name="categoryId" nillable="true" type="xsd:int" />
          <xsd:element name="parentCategory" nillable="true" type="xsd:string" />
          <xsd:element name="parentCategoryId" nillable="true" type="xsd:int" />
          <xsd:element name="minPrice" nillable="true" type="xsd:float" />
          <xsd:element name="maxPrice" nillable="true" type="xsd:float" />
          <xsd:element name="artists" nillable="true" type="tns:ArrayOfArtist" />
          <xsd:element name="venue" nillable="true" type="tns:Venue" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Response">
        <xsd:all>
          <xsd:element name="details" nillable="true" type="tns:Details" />
          <xsd:element name="results" nillable="true" type="tns:ArrayOfEvent" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="findEventsIn">
    <wsdl:part name="request" type="tns:Request" />
  </wsdl:message>
  <wsdl:message name="findEventsOut">
    <wsdl:part name="return" type="tns:Response" />
  </wsdl:message>
  <wsdl:portType name="ServicePort">
    <wsdl:operation name="findEvents">
      <documentation>@param Request $request</documentation>
      <wsdl:input message="tns:findEventsIn" />
      <wsdl:output message="tns:findEventsOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceBinding" type="tns:ServicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="findEvents">
      <soap:operation soapAction="http://ticketmaster.productserve.com/v1/soap.php#findEvents" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ticketmaster.productserve.com/v1/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ticketmaster.productserve.com/v1/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceService">
    <wsdl:port name="ServicePort" binding="tns:ServiceBinding">
      <soap:address location="http://ticketmaster.productserve.com/v1/soap.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>